* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(87, 87, 87);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px rgb(87, 87, 87) solid;
}

header input {    
    border-radius: 25px;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

header a {    
    text-decoration: none;
    font-size: 1.5em;
}

main {
    padding: 25px
}

section {
    display: flex;
    justify-content: space-evenly;
}

section article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    border: 1px rgb(87,87,87) solid;
}

section aside {
    width: 35%;
}

section form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 240px;
}

section form input {
    border-radius: 13px;
    padding: 10px;
}

section form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}