* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(87, 87, 87);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.validate {
    display: none;
    color: red;
}

.AdminBox {
    margin-top: 2vh;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    border-style: solid;
    float: left;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.69);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.69);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    border-bottom: 1px rgb(87, 87, 87) solid;
    height: 85px;
}

header #search {    
    border-radius: 8px;
    padding: 10px;
    width: 300px;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

header a {    
    text-decoration: none;
    font-size: 1.5em;
}

#profilebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    width: 185px;
}

#profilebutton input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#profilebutton form {
    display: none;
    position: absolute;
    top: 85px;
    z-index: 999;
    width: 185px;
    margin: 0;
    padding: 0;
    height: 100px;
}

#profilebutton form button {
    display: flex;
} 

#profilebutton:hover {
    background: rgb(218, 218, 218);
    cursor: pointer;
}

#profilebutton:hover form {
    display: block;
    background: rgb(218, 218, 218);
} 

#profilebutton:hover form:hover {
    display: block;
    background: rgb(156, 156, 156);
} 

section {
    display: flex;
    justify-content: center;
    min-height: 500px;
}

section article {
    border: 1px gray solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

section aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

section aside * {
    width: 50%;
}

section aside form {    
    display: flex;
    align-items: center;
}

section form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

section form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}