* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(87, 87, 87);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#emailvalidate {
    display: none;
    color: red;
}

.AdminBox {
    margin-top: 2vh;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    border-style: solid;
    float: left;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.69);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.69);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px rgb(87, 87, 87) solid;
}

header input {    
    border-radius: 25px;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

header a {    
    text-decoration: none;
    font-size: 1.5em;
}

main {
    padding: 25px
}

section {
    display: flex;
    justify-content: space-evenly;
}

section article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    border: 1px rgb(87,87,87) solid;
}

section aside {
    width: 35%;
}

section form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 240px;
}

section form input {
    border-radius: 13px;
    padding: 10px;
}

section form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}