.productcontainer {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;

}

.product {
    border: black;
    width: 180px;
    height: 380px;
    border: solid;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.product img {
  width: 140px;
}

.price {
    font-size: 20px;
    font-weight: bold;
}


#product-description {
    text-align: center;
}

.product:hover {
    cursor: pointer;
    margin: 13px;
    transition:  box-shadow 400ms ease-out 100ms;
    box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.21);
    -webkit-box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.21);
    -moz-box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.21);

}

.filter-container {
    height: 600px;
    width: 15vw;
    border-color: black;
    border-style: solid;
    margin: 10px;
    text-align: center;
    border-width: 1px;
    background-color: white;
    position: fixed;
    left: 50px;

}

#order-by { 
    display: contents; 
    height: 29px!important; 
    width: 140px; 
}

#toolbar{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.price-sort {
    width: 200px;
    height: 40px;
    margin-bottom: 40px;
}

.price-sort:focus {
    background-color: rgb(120, 214, 26);
    color: white;
}

#product-image img {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
}


#product-article {
    border: unset;
    display: unset;
    text-align: center;
}

#product-section {
    padding: 120px;
}


#product-aside {
    -webkit-box-shadow: 10px 10px 5px -5px rgb(0 0 0 / 22%);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.22);
    box-shadow: 10px 10px 5px -5px rgb(0 0 0 / 22%);
    border: solid;
    border-width: thin;
    background-color: white;
    padding: 30px;
    margin-right: 150px;
}


.bestil {
    border-radius: 10px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}



section {
  background-color: #4fad3f12!important;


}
